.app-loading {
  position: absolute;
  background-color: transparentize($color: $bg-color, $amount: 0.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: $main-color;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

$loader-speed: 4s;
$loader-count: 16;
$loader-size: 3rem;
$loader-margin: 0.1;
$loader-side: 4;
$loader-segment: $loader-size / $loader-side;
$p_0: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15;
$p_1: 6, 12, 8, 14, 11, 9, 4, 0, 3, 13, 15, 7, 5, 10, 2, 1;
$p_2: 9, 2, 4, 12, 0, 15, 3, 1, 6, 10, 13, 8, 11, 5, 7, 14;

.squares {
  position: relative;
  margin-bottom: 1rem;
  margin-left: $loader-size;
  transform: translate(
    -1 * $loader-side * $loader-segment,
    -1 * $loader-side * $loader-segment
  );
}

.square {
  display: inline-block;
  width: $loader-segment * (1 - $loader-margin);
  height: $loader-segment * (1 - $loader-margin);
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
}

@for $i from 1 through $loader-count {
  $x_0: ($i - 1) % $loader-side;
  $y_0: floor(($i - 1) / $loader-side);
  $x_1: nth($p_1, $i) % $loader-side;
  $y_1: floor(nth($p_1, $i) / $loader-side);
  $x_2: nth($p_2, $i) % $loader-side;
  $y_2: floor(nth($p_2, $i) / $loader-side);

  @keyframes loader_#{$i} {
    0% {
      transform: translate($x_0 * $loader-segment, $y_0 * $loader-segment);
    }
    6% {
      transform: translate($x_1 * $loader-segment, $y_1 * $loader-segment);
    }
    33% {
      transform: translate($x_1 * $loader-segment, $y_1 * $loader-segment);
    }
    39% {
      transform: translate($x_2 * $loader-segment, $y_2 * $loader-segment);
    }
    63% {
      transform: translate($x_2 * $loader-segment, $y_2 * $loader-segment);
    }
    69% {
      transform: translate($x_0 * $loader-segment, $y_0 * $loader-segment);
    }
    100% {
      transform: translate($x_0 * $loader-segment, $y_0 * $loader-segment);
    }
  }

  .square_#{$i} {
    background: mix($main-color, #333, random(90) + 10);
    animation: loader_#{$i} $loader-speed infinite ease-in-out;
  }
}